.vscode/**
.vscode-test/**
src/**
scripts/**
node_modules/**
esbuild.js
tsconfig.json
**/*.ts
**/*.map
analyzer/obj/**
analyzer/.build/**
analyzer/bin/**/*.pdb
.gitignore
.eslintrc*
eslint.config.mjs
.prettierrc.json
.prettierignore
vitest.config.ts
coverage/**
*.vsix
.github/**
images/**
